@keyframes star-twinkle {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 0.2; }
}

.star-twinkle {
  animation-name: star-twinkle;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
} 